# Objective: Make a DataFrame using the Abalone dataset (../data/abalone.csv).
# Take two independent random samples of different sizes from the 'rings' field.
# HINT: np.random.choice(df['rings'],10,replace=False) takes 10 random values
# Use box plots to show that the samples do derive from the same population.

In [33]:
import plotly.offline as pyo
import plotly.graph_objs as go

import numpy as np
import pandas as pd

In [2]:
abalone = pd.read_csv("Data1/abalone.csv")

In [4]:
abalone.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [5]:
abalone.tail()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [24]:
y1 = np.random.choice(abalone['rings'],30,replace=False)

In [25]:
y1

array([12,  8,  7,  4, 11, 17, 11,  7, 10, 12, 11,  9,  9, 19,  9,  9, 14,
       10, 18,  9,  9,  7,  8,  9, 21,  7,  7,  9,  9,  7])

In [26]:
y2 = np.random.choice(abalone['rings'],100,replace=False)

In [27]:
y2

array([ 6,  7,  9,  8,  6,  9,  8, 10,  7, 12, 10, 12, 10,  7, 10,  9,  9,
        6, 10, 11,  9,  8,  9, 15,  6,  9,  6, 15, 10,  8,  9,  8, 20,  7,
       20,  9, 11, 11,  8,  6,  7,  5,  9, 12,  9,  8, 12, 13,  9,  9, 15,
        9,  6,  9,  9,  8, 13, 10, 13, 12, 12, 13, 16, 16, 10,  9, 12,  7,
        8,  6,  8,  5, 12, 12, 13, 18, 19, 16,  5,  9,  8,  8, 13, 10, 14,
        8, 14, 11, 10,  7, 19, 11, 21, 10,  9,  9, 12,  5,  5, 16])

In [28]:
data = [go.Box(y= y1, name= "Sample 1"),
        go.Box(y= y2, name= "Sample 2")]

In [29]:
layout = go.Layout(title = "Comparison of two Samples derived from same dataset<br>\
                            to show that they belong to the same dataset")

In [30]:
fig = go.Figure(data=data, layout=layout)

In [31]:
pyo.plot(fig, filename='box4.html')

'box4.html'