#######
# Objective: Using the "flights" dataset available
# from the data folder as flights.csv
# create a heatmap with the following parameters:
# x-axis="year"
# y-axis="month"
# z-axis(color)="passengers"
######

In [2]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [3]:
flights = pd.read_csv("Data1/flights.csv")

In [4]:
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [5]:
flights.tail()

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [6]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    object
 2   passengers  144 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.5+ KB

In [7]:
data = [go.Heatmap(x = flights["year"],
                  y = flights["month"],
                  z = flights["passengers"].values.tolist(),#z value Must be converted to list since plotly color scale will not accept pandas columns
                  colorscale = "Jet",)]

In [8]:
layout = go.Layout(title = "Yearly Flights Per Passengers")

In [9]:
fig = go.Figure(data=data, layout=layout)

In [10]:
pyo.plot(fig, filename="heatmap2.html")

'heatmap2.html'