In [2]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [3]:
winter_2018_ol = pd.read_csv("Data1/2018WinterOlympics.csv")

In [4]:
winter_2018_ol.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [6]:
winter_2018_ol.tail()

    Rank            NOC  Gold  Silver  Bronze  Total
25    26          Spain     0       0       2      2
26    26    New Zealand     0       0       2      2
27    28     Kazakhstan     0       0       1      1
28    28         Latvia     0       0       1      1
29    28  Liechtenstein     0       0       1      1

In [7]:
winter_2018_ol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    30 non-null     int64
 1   NOC     30 non-null     object
 2   Gold    30 non-null     int64
 3   Silver  30 non-null     int64
 4   Bronze  30 non-null     int64
 5   Total   30 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.5+ KB

In [8]:
#Let go a head and plot
data = [go.Bar(x = winter_2018_ol["NOC"],
              y = winter_2018_ol["Total"],
              )]

In [9]:
layout = go.Layout(title = "Winter Olympics 2018 - Medals Per Country")

In [12]:
figure = go.Figure(data=data, layout= layout)

In [14]:
pyo.plot(figure)

'temp-plot.html'

# Being more creative - Let also add the actual type of medal - Nested Bar Charts

In [17]:
trace1 = go.Bar(x = winter_2018_ol["NOC"],
                y = winter_2018_ol["Gold"],
                name= "Gold", marker= {"color" : "#FFD700"})

trace2 = go.Bar(x = winter_2018_ol["NOC"],
                y = winter_2018_ol["Silver"],
                name= "Silver", marker= {"color" : "#9EA0A1"})

trace3 = go.Bar(x = winter_2018_ol["NOC"],
                y = winter_2018_ol["Bronze"],
                name= "Bronze", marker= {"color" : "#CD7F32"})

In [18]:
#Let go a head and plot
data = [trace1, trace2, trace3]

In [19]:
layout = go.Layout(title = "Winter Olympics 2018 - Medals Per Country")

In [20]:
figure = go.Figure(data=data, layout= layout)

In [21]:
pyo.plot(figure, filename= "Winter_Olympics_2018_-_Medals_Per_Country.html")

'Winter_Olympics_2018_-_Medals_Per_Country.html'

# Changing to Stacked Bar Charts - Just add the parameter barmode=stack on layout

In [23]:
layout = go.Layout(title = "Winter Olympics 2018 - Medals Per Country", barmode= "stack")

In [25]:
figure = go.Figure(data=data, layout= layout)

In [26]:
pyo.plot(figure, filename= "Winter_Olympics_2018_-_Medals_Per_Country2.html")

'Winter_Olympics_2018_-_Medals_Per_Country2.html'